#!/bin/sh

NAME="{{ project_name }}"
DJANGODIR={{ project_path }}
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
NUM_WORKERS={{ gunicorn_num_workers }}
DJANGO_SETTINGS_MODULE={{ django_settings_module[env_name] }}
DJANGO_WSGI_MODULE={{ application_name }}.wsgi
USER={{ gunicorn_user }}
GROUP={{ gunicorn_group }}

MAX_REQUESTS=1000

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
source {{ virtualenv_path }}/bin/activate

export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec {{ virtualenv_path }}/bin/gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout 30 \
    --bind=unix:$SOCKFILE \
    --log-level=debug \
    --user $USER --group $GROUP \
    ${DJANGO_WSGI_MODULE}:application